@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Monsterrat";
  src: local("Monsterrat"),
    url("./assets/fonts/Monsterrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica_Neue"),
    url("./assets/fonts/Helvetica_Neue/Helvetica_400.ttf") format("truetype");
}
